.tnl_dev_only {display:none ! important;}
.import_ok {display:block !important;}

.tnl_tabs a {display:block; float:left; font-size: 14px; margin: 10px 0; padding:5px 10px; border:1px solid #999;  border-radius: 10px 10px 0 0;}
.tnl_tabs a.active {color:#000; border-bottom: transparent; font-weight:bold;}
.tnl_tabs_bottom {clear:both; height:0;}

.tnl_nlsettings_tab {display:block; float:left; font-size: 14px; padding:5px 10px; border:1px solid #999;  border-radius: 10px 10px 0 0; font-weight:bold; color:#999;}
.tnl_nlsettings_tab.active {color:#000; border-bottom:none;}
.tnl_nlsettings_block {display:none;}

.tnl_tab_settings_warning {padding:20px; background:#ffb94a; color:#bf0000; font-weight:bold; }




/*common*/
.tnl_action {padding:0 0; width:30px;}
.tnl_action a.tnl_edit {display:block; float:right; background:url(img/edit16.png); height:16px; width:16px;}
.tnl_footerbutton {clear:both; padding-top:20px;}
.tnl_footerbutton a {font-weight: bold;}

.tnl_element_hidden {display:none;}

.tnl_button {display:block; float:left; font-size: 14px; padding:5px 10px; margin: 10px 10px 10px 0; border:1px solid #999;  border-radius: 10px;}

.tnl_delete_button {
	color:firebrick;
	text-decoration:none;
	display:inline-block;
	padding:0.5em 2em;
	border:1px solid firebrick;
}


/*Modify*/
.tnl_modify {background: url(img/newsletter.png) no-repeat right top;}
.tnl_modify_block1 {width:33%; float:left;}
.tnl_modify_block2 {width:66%; float:left; margin-top:32px;}

.tnl_modify .tnl_addr_sum {font-size:100px; color:#b5e314; line-height:100%;}

#tnl_addrlisting_listing th {text-align:left;}
#tnl_addrlisting_listing th.tnl-status {text-align:center;}
#tnl_addrlisting_listing th.tnl-info {text-align:center;}
#tnl_addrlisting_listing th.tnl-got-seen {text-align:center;}
#tnl_addrlisting_listing th.tnl-action {text-align:center;}

#tnl_addrlisting_listing td {border:0; border-bottom:1px solid #999; padding:6px;}

.tnl-status { width:30px; text-align:center; }
.tnl-info { width:40px; text-align:center; }
.tnl-got-seen { width:40px; text-align:center; }
.tnl-action { width:20px; text-align:center; }

#tnl_addrlisting_listing .addr-status-2  {background:#de0303; color:#fff;} /* unsubscribed*/
#tnl_addrlisting_listing .addr-status-1  {background:#de5b03;} /*manually removed */
#tnl_addrlisting_listing .addr-status0   {background:#ffcc00;} /*NOT confirmed */
#tnl_addrlisting_listing .addr-status1   {background:#b5e314;} /*manually confirmed */
#tnl_addrlisting_listing .addr-status2   {background:#75d11a;} /*confirmed by receiver*/
#tnl_addrlisting_listing .addr-status3   {background:#21a3f5; color:#fff;} /*well known address */
#tnl_addrlisting_listing .addr-status4   {background:#7133ff; color:#fff;} /*VIP, Admin */

#tnl_addrlisting_listing .addr-data {display:block; background:#ffcc00; width:20px; float:left;} /*has str 1*/
#tnl_addrlisting_listing .addr-data.confirmed {background:#75d11a;} /*has str 2*/

.tnl_noresults {border: 1px solid #fff;  background:#ffff66; clear:both;}

/*Settings*/
.tnl_settings_block {clear:both; border-bottom:1px solid #999; padding:20px 0;}
.tnl_settings_block h3 {}
.tnl_settings_block h4 {margin:0; padding: 10px 0 0 0;}
.tnl_settings_block .halfformbox {float:left; width:50%; }

.tnl_settings_block input, .tnl_settings_block textarea {width:98%; padding:3px 1%; border: 1px solid #999; }
.tnl_settings_block input[type="checkbox"] { width:20px; vertical-align:middle; }
.tnl_settings_block textarea.tnl_settings_medium {height:50px;}
.tnl_settings_block textarea.tnl_settings_medium2 {height:100px;}
.tnl_settings_block textarea.tnl_settings_high {height:200px;}

.tnl_settings_info {float:right; width:33%; }
.tnl_settings_element {float:left; width:60%;}
.tnl_divider {clear:both; height:10px; background:#999;}

.settings_gender_tr_nf, .settings_gender_tr_nm, #tnl_nlsettings_block_archive, .tnl_tab_archive {display:none !important;}

/*Newsletters */
/*listing*/
table.tnl_listing  {width:100%; border:0; border-collapse:collapse;}
table.tnl_listing td {border:0; border-bottom: 1px solid #999; padding:3px;}

table.tnl_listing td.tnl_progress {width:25%; padding:0; text-align:center;}
td.tnl_progress .tnl_progress_outer {width:90%; height:20px; padding:5px 0;  }

.tnl_status0 .tnl_progress_outer {background:#ddd;} /* in Work */
.tnl_status1 .tnl_progress_outer {background:#ffcc00;} /* Waiting */
.tnl_status2 .tnl_progress_outer {background:#d9f7bb;} /* Live */
.tnl_status2 .tnl_progress_inner {height:100%; background:#75d11a;} /* Live */
.tnl_status3 .tnl_progress_outer {background:#73bfd5;} /* Finished */

td.tnl_subject {width:40%; font-weight:bold; }

td.tnl_data .active {color:#509f01;}
td.tnl_data .waiting {color:#ff9c00;}
td.tnl_data .outdated {color:#dd2b2b;}

.tnl_achived {color:#509f01;}
.tnl_not_achived {color:#dd2b2b;}
#tnl_archive_message {float:left; margin-top:10px; padding:10px; font-weight:bold; opacity:0; transition: 2s all;}
#tnl_archive_message.tnl_message_loaded {opacity:1; background-color: #c1ec77; color:#5f9107; transition: 2s all;}


/*Newsletters edit*/


.tnl_min_active3 {background: rgba(25,129,200,0.1);}
.tnl_min_active4 {background: rgba(113,55,255,0.1);}

table.tnl_nlsettings_block td {vertical-align:top;}
div.tnl_nlsettings_block {min-height:100px;}


.tnl_headertable {width:100%; border:0; border-collapse:collapse;}
.tnl_headertable td {border:0; padding:3px;}
.tnl_headertable td input, .tnl_headertable td select {border:0; padding:3px;}
#tnl_subject {width:98%; border:1px solid #999; font-size: 14px; font-weight:bold; padding:3px; }

#tnl_testing_message {float:left; margin-top:10px; padding:10px; font-weight:bold; opacity:0; transition: 2s all;}
#tnl_testing_message.tnl_message_loaded {opacity:1; background-color: #c1ec77; color:#5f9107; transition: 2s all;}


/* Smaller Screens */
@media screen and (max-width: 600px) {
	/*Modify*/
	.tnl_modify_block1, .tnl_modify_block2 {width:100%; float:none; margin-bottom:20px; }
	.tnl_modify .tnl_data { font-size: 11px; line-height:100%;}
	.tnl_modify .tnl_achived {display:none;}


	/*Receivers */
	#tnl_addrlisting_listing .tnl_data, #tnl_addrlisting_listing .tnl_dago {display:none;}
	table.tnl_filters, .tnl_filters td {display:block; float:left;}
	#tnl_addrlisting_listing td.tnl_email {max-width:140px;}



	.tnl_settings_block {border-bottom:5px solid #999;}
	.tnl_settings_info {float:none; width:100%; }
	.tnl_settings_element {float:none; width:100%;}
	.tnl_settings_block textarea.tnl_settings_medium {height:100px;}
	.tnl_settings_block textarea.tnl_settings_medium2 {height:200px;}
	.tnl_settings_block textarea.tnl_settings_high {height:300px;}



}

.nldoku td {
	vertical-align:top;
	border:1px solid #ccc;
}


.ziehharmonika dt {
	font-weight:bold;
	margin:0.5em 0 0.25em 0;
}

.ziehharmonika dd {
	margin:0 0 0 1.5em;
}

/* Ziehharmonika
https://github.com/Arcwise/ziehharmonika
MIT License
 */

.ziehharmonika h3 {
	background: #f9f9f9;
	color: #444;
	text-align: left;
	xborder-radius: 4px;
	padding: 5px;
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 9px;
	padding-right: 40px;
	transition: 0.25s all;
	position: relative;
	font-size:1em;
}
.ziehharmonika h3.active {
	margin-bottom: 21px;
	background: #eee;
}
.ziehharmonika h3::before {
	content: attr(data-prefix);
	font-size: 18px;
	margin-right: 9px;
}
.ziehharmonika h3.alignLeft {
	padding-left: 35px;
}
.ziehharmonika > div {
	display: none;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #cdcdcd;
	text-align: left;
	padding: 5px 15px;
	margin-bottom: 9px;
}
.ziehharmonika .arrowDown {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13.0px 7.5px 0 7.5px;
	border-color: #eee transparent transparent transparent;
	position: absolute;
	bottom: 0;
	left: 40px;
	transition: 0.25s all;
	opacity: 0;
}
.ziehharmonika .active .arrowDown {
	bottom: -13px;
	border-color: #eee transparent transparent transparent;
	opacity: 1;
}
.ziehharmonika .collapseIcon {
	position: absolute;
	right: 20px;
	top: 45%;
	font-size: 25px;
	font-weight: 300;
	-ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
}
.ziehharmonika .collapseIcon.alignLeft {
	right: initial;
	left: 20px;
}

/*** fixes for fraggy theme  ******************************************/
#receiversTable td.tooltip {
	opacity: inherit;
	font-size: 0.9rem;
	z-index: 1;
	position: inherit;
	display: revert;
}

.jquery-modal .modal {
	height: auto;
}

.modal a.close-modal {
	top: 2px !important;
	right: 2px !important;
}

.tnl_addrlisting a.tooltip {
	opacity: inherit;
}

