#nlfrmblock {margin-bottom:20px;}
#nlfrmblock .finished {padding:40px 5px 20px 10px; border: 2px solid #deff00; background:#78c303; color:#fff ! important; font-weight:bold;}
#nlfrmblock .finished.err { background:#ffea00; color:#c80900 ! important; border: 2px solid #c80900;}
#nlfrmblock .finished.remove { background:#ffea00; color:#c80900 ! important; border: 2px solid #c80900;}

#tnl_register {width:100%; max-width:400px; padding:0 5px 5px 5px; background:rgba(200,200,200,0.1) url(img/newsletter.png) no-repeat right top; border: 1px solid #999}
#tnl_register .tnl_inputblock {padding:5px 0;}
#tnl_register input, #tnl_register textarea {padding:4px 1%; width:97%;}
#tnl_register select {padding:4px 1%; width:60%;}
#tnl_register #submit_btn {padding:5px 0; cursor:pointer;}

#tnl_message_box {display:none;} /*Message: hide or show */


#tnl_register input[type="button"]:hover,
#tnl_register input[type="submit"]:hover {
	cursor:pointer;
    XXbackground: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    XXbackground-color: #28739E;
}
#tnl_register .success{
	background: #D8FFC0;
	padding: 5px 10px 5px 10px;
	margin: 40px 0px 5px 0px;
	border: none;
	font-weight: bold;
	color: #2E6800;
	border-left: 3px solid #2E6800;
}
#tnl_register .error {
	background: #FFE8E8;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 5px 0px;
	border: none;
	font-weight: bold;
	color: #FF0000;
	border-left: 3px solid #FF0000;
}

body.web_message {background:#ddd; text-align:center; }
div.web_message {padding-top:60px; font-size:18px;}

.tnl-captcha-image {padding-right:6px; vertical-align:middle;}
.tnl-captcha-input {width:60px !important; margin-right:6px;}
.tnl-captcha-text {white-space:nowrap;}

